:root {
  --var-white-color: #fff;
  --var-light-color: #e7e6e6;
  --var-secondary-color: #B43E24;
  --var-bright-blue: #0D83E7;
  --var-primary-color: #002ACC;
  --var-dark-blue: #011254;
  --var-black-color: #0C0A15;
  --var-darkish-color: #272E58;
  /* --var-darkish-color: #4f4f4f; */
  --var-darker-color: #000932;
  --var-dark-color: #333;
  --var-grey-color: #646363;
  --delay: 120ms;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Fira Sans', sans-serif; */
  font-family: 'Space Grotesk', sans-serif;
  scroll-behavior: smooth;
}

html {
  background-color: var(--var-black-color);
}

.page-container {
  position: relative;
}

img {
  width: 100%;
}

/* Hero */
.hero {
  /* background-image: linear-gradient(rgba(18, 49, 122, 0.3),rgba(3, 5, 51, 0.3)); */
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero .title {
  grid-column: 4 / span 1;
  grid-row: 2 / span 2;
  color: var(--var-white-color);
  align-items: center;
  justify-content: center;
}

.hero .ryan {
  font-size: 100px;
  text-align: end;
  margin-right: 10rem;
}

.hero .arrow {
  color: var(--var-black-color);
  grid-column: 4 / span 1;
  grid-row: 5 / span 1;
  padding: 0 0 4rem 16rem;
  opacity: 0;
  text-shadow: 1px 1px 10px #133390;
  animation-name: fade1;
  animation-delay: 9s;
  animation-duration: 1700ms;
  animation-fill-mode: forwards;
  /* animation-direction: alternate-reverse; */
  /* animation-iteration-count: 3; */
}

@keyframes fade1 {
  /* from {
    opacity: 0;
  } */

  to {
    opacity: 1;
  }

  /* from {
    opacity: 1;
  }

  to {
    opacity: 0;
  } */
}

.hero .arrow a {
  color: var(--var-black-color);
}

.hero .arrow a:hover {
  color: var(--var-secondary-color);
  text-shadow: 1px 1px 10px var(--var-primary-color);
  /* text-shadow: 1px 1px 10px #3c1395; */
}

.back-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

/* About */
.about-content {
  background: var(--var-black-color);
  color: var(--var-white-color);
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  overflow: hidden;
  line-height: 1.8;
}

.about-content .greet {
  font-size: 75px;
  grid-column: 2 / span 1;
  padding-top: 2rem;
  color: var(--var-bright-blue);
}

.about-content > * {
  opacity: 0;
  transition: opacity 2.5s ease;
}

.about-content > *.show {
  opacity: 1;
}

#about p {
  font-size: 22px;
  grid-column: 1 / span 3;
  grid-row: 2 / span 2;
  padding: 2rem 6rem 5rem;
}

#about .p-2 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
  /* border: solid; */
  /* background-image: linear-gradient(to bottom right, #0c0a1500, #B43E24); */
  /* background: linear-gradient(to right, #0c0a1500, #0D83E7); */
}

#about .p-3 {
  grid-column: 1 / span 2;
  grid-row: 4 / span 1;
}

.about-content .pop {
  color: var(--var-bright-blue);
  letter-spacing: 2px;
  font-size: larger;
}

/* Projects */
#projects {
  overflow: hidden;
}

#projects h1 {
  font-weight: 300;
}

#projects img {
  border-radius: 15px;
}

#projects .projects-title {
  background-color: var(--var-darker-color);
  color: var(--var-white-color);
  padding: 1rem 0 2rem 0;
  font-size: 35px;
  letter-spacing: 1rem;
  position: relative;
  height: 10rem;
  margin: auto;
  text-align: center;
}

#projects .main-title {
  position: absolute;
  top: -110px;
  left: 38.2%;
}

#projects .main-title span.show {
  display: inline-block;
  min-width: 5px;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translateY(140px);
}

#projects .project-container {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-gap: 2rem;
  background-color: var(--var-darker-color);
  text-align: center;
  align-items: center;
  justify-content: center;
  /* padding: 2rem 8rem; */
}

.project-container div {
  color: var(--var-white-color);
  width: 1000px;
  margin: auto;
  /* opacity: 0.9; */
}

.project-container .website > div {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  height: 69vh;
  border-radius: 16px;
  margin: 2rem auto 5rem auto;
  box-shadow: 0px 30px 60px var(--var-bright-blue);
}

.project-container .praxis > div {
  background-image: url(./media/praxis.png);
}

.project-container .weather-website > div {
  background-image: url(./media/weather.png);
}

.project-container .amazingly-website > div {
  background-image: url(./media/amazingly.png);
}

.project-container .dice-website > div {
  background-image: url(./media/diceapp.png);
}

.project-container .mnd-website > div {
  background-image: url(./media/mndbdy.png);
}

.project-container .photography-website > div {
  background-image: url(./media/photoweb.png);
}

/* .project-container .music-website > div {
  background-image: url(./media/musickeeps.jpg);
} */

.project-container .news-grid > div {
  background-image: url(./media/newsgrid.jpg);
}

.project-container .edge-ledger > div {
  background-image: url(./media/edgeledger.jpg);
}

/* .project-container .hotel-website > div {
  background-image: url(./media/hotel.jpg);
} */

.project-container div > div {
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.project-container div > div:hover {
  /* opacity: 1; */
  cursor: pointer;
  transform: scale(1.04);
  transition: 0.3s ease-out;
}

.project-container p {
  box-shadow: 0 0 0 800px #0c0a15e1 inset;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transform: scale(1);
  font-size: 28px;
  color: var(--var-bright-blue);
  padding: 2rem;
  border-radius: 15px;
}

.project-container div > div:hover p {
  opacity: 0;
  transform: scale(0);
}

.project-container div:not(:hover) {
  transition: transform 0.3s ease-out;
}

#projects .project-container .website {
  transition: transform .6s ease-in-out;
  transform: translateX(400%);
}

#projects .project-container .website.show {
  transform: translateX(0);
}

#projects .project-container .praxis,
#projects .project-container .weather-website,
#projects .project-container .amazingly-website,
#projects .project-container .dice-website,
#projects .project-container .photography-website,
#projects .project-container .music-website,
#projects .project-container .edge-ledger,
#projects .project-container .news-grid
{
  background: var(--var-darker-color);
  padding: 1rem 0;
}

.project-container .praxis-link,
.project-container .weather-link,
.project-container .amazingly-link,
.project-container .dice-link,
.project-container .mnd-link,
.project-container .photo-link,
.project-container .music-link, 
.project-container .edge-link,
.project-container .news-link {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
}

/* Contact form */
.form-container {
  position: relative;
  width: 100%;
  height: 78vh;
  /* background-color: #858484; */
  background-color: var(--var-black-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  /* box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); */
  background: transparent;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form h3 {
  color: var(--var-light-color);
  font-size: 36px;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-align: center;
}

form input, form textarea {
  padding: 18px;
  margin: 10px 0;
  border: 0;
  border-bottom: 1px solid var(--var-white-color);
  outline: none;
  background-color: var(--var-black-color);
  font-size: 18px;
  color: var(--var-light-color);
}

form button {
  background-color: var(--var-darker-color);
  color: var(--var-light-color);
  box-shadow: var(--var-bright-blue) 1px 2px 10px;
  font-size: 17px;
  font-weight: bolder;
  cursor: pointer;
  padding: 15px;
  margin: 20px auto 0;
  border: 0;
  border-radius: 30px;
  outline: none;
  width: 170px;
}

form button:hover {
  background-color: var(--var-secondary-color);
  box-shadow: var(--var-bright-blue) 1px 2px 10px;
}

form button:active {
  background-color: var(--var-bright-blue);
  transform: scale(0.97);
  transition: transform 0.1s ease-in-out;
  box-shadow: none;
}

/* .profile-pic {
  width: 615px;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: flex;
} */

#links {
  display: flex;
  justify-content: center;
  background: var(--var-black-color);
  height: 60px;
  text-align: center;
  align-items: center;
}

#links a {
  color: var(--var-grey-color);
  /* text-shadow: var(--var-bright-blue) 1px 2px 10px; */
  padding: 2rem 1rem;
}

#links a:hover {
  color: var(--var-light-color);
  text-shadow: none;
}

#footer {
  bottom: 0;
  height: 5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: var(--var-darker-color);
  color: var(--var-light-color);
}

#footer h1 {
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 1090px) {
  video {
    transform: rotate(90deg);
    object-fit: cover;
    width: 100vw;
    /* height: 100%; */
    top: 0;
    left: 0;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  /* .back-video {
  transform: rotate(-90deg);
  object-fit: cover;
  } */

  .title .ryan {
    font-size: 70px;
    margin-right: auto;
  }

  .about-content {
    grid-template-columns: repeat (1fr);
    grid-template-rows: repeat (1fr);
    display: block;
  }

  #about h1 {
    padding: 0;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    padding: 1.5rem;
  }

  #about p {
    font-size: 17px;
    padding: 0rem;
    padding: 1.5rem;
  }
  
  #about .p-2 {
    grid-column: 1 / span 2;
    text-align: end;
    padding-left: 3rem;
  }
  
  #about .p-3 {
    grid-column: 1 / span 1;
  }

  #projects {
    overflow: hidden;
  }

  #projects .projects-title h1 {
    font-size: 60px;
    letter-spacing: .5rem;
  }

  #projects .main-title {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  #projects .project-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 .5rem .5rem;
  }

  .project-container .title {
    font-size: 26px;
  }

  .project-container p {
    display: none;
  }

  .project-container .website > div {
    max-height: 26rem;
    max-width: 80vw;
    box-shadow: 0px 15px 30px var(--var-bright-blue);
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}