:root {
  --var-white-color: #fff;
  --var-light-color: #e7e6e6;
  --var-secondary-color: #B43E24;
  --var-bright-blue: #0D83E7;
  --var-primary-color: #002ACC;
  --var-dark-blue: #011254;
  --var-black-color: #0C0A15;
  --var-darkish-color: #272E58;
  /* --var-darkish-color: #4f4f4f; */
  --var-darker-color: #000932;
  --var-dark-color: #333;
  --var-grey-color: #646363;
  --delay: 120ms;
  --delay2: 300ms;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Fira Sans', sans-serif; */
  font-family: 'Space Grotesk', sans-serif;
  scroll-behavior: smooth;
}

html {
  background-color: var(--var-black-color);
}

.page-container {
  position: relative;
}

img {
  width: 100%;
}

/* Hero */
.hero {
  /* background-image: linear-gradient(rgba(18, 49, 122, 0.3),rgba(3, 5, 51, 0.3)); */
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero .title {
  grid-column: 4 / span 1;
  grid-row: 2 / span 2;
  color: var(--var-white-color);
  align-items: center;
  justify-content: center;
}

.hero .ryan {
  font-size: 100px;
  text-align: end;
  margin-right: 10rem;
}

.hero .position {
  grid-column: 1 / span 2;
  letter-spacing: .5rem;
  font-size: 21px;
  color: var(--var-light-color);
  padding-left: 4rem;
  opacity: 0;
  animation-name: pos;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-duration: .5s;
}

.hero h2 span {
  color: var(--var-bright-blue);
  opacity: 0;
  animation-name: pos;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  animation-duration: .5s;
}

@keyframes pos {
  to {
    opacity: 1;
  }
}

.hero .arrow {
  grid-column: 4 / span 1;
  grid-row: 5 / span 1;
  padding: 0 0 4rem 16rem;
  opacity: 0;
  text-shadow: 1px 1px 10px #133390;
  animation-name: fade1;
  animation-delay: 9s;
  animation-duration: 1700ms;
  animation-fill-mode: forwards;
}

@keyframes fade1 {
  to {
    opacity: 1;
  }
}

.hero .arrow a {
  color: var(--var-bright-blue);
}

.hero .arrow a:hover {
  color: var(--var-secondary-color);
  text-shadow: 1px 1px 10px var(--var-primary-color);
}

.back-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

/* About */
.about-content {
  color: var(--var-white-color);
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(4, 1fr); */
  overflow: hidden;
  line-height: 1.6;
  background: linear-gradient(137deg, rgb(12, 10, 21) 30%, rgb(0, 9, 50) 75%);
  padding: 4rem 8rem 6rem 8rem;
}

.about-content .greet {
  font-size: 75px;
  grid-column: 1 / span 1;
  align-items: center;
  color: var(--var-bright-blue);
}

.about-content > h1, 
.about-content > p {
  opacity: 0;
  transition: opacity 2.5s ease;
  z-index: 4;
}

.about-content > h1.show, 
.about-content > p.show {
  opacity: 1;
  z-index: 4;
}

.about-content > p {
  font-size: 1.15rem;
}

.about-content .pop {
  color: var(--var-bright-blue);
  letter-spacing: 2px;
  font-size: larger;
}

.about-content .about-img {
  width: 100%;
  height: auto;
  grid-column: 2 / span 1;
  grid-row: 1 / span 3;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content .about-img .img-container img {
  border-radius: 15px;
  width: 430px;
  height: 100%;
  position: relative;
  z-index: 3;
  grid-column: 2 / span 1;
  grid-row: 1 / span 3;
}

.cool-gradient-container {
  grid-column: 2 / span 1;
  grid-row: 1 / span 3;
  background: linear-gradient(162deg, transparent 30%, rgba(13,131,231,1) 39%, rgba(180,62,36,1) 55%, transparent 78%);
  border-radius: 15px;
  width: 430px;
  height: 800px;
  margin-bottom: -7rem;
  justify-self: center;
  margin-right: -8vw;
}

/* Projects */
#projects {
  overflow: hidden;
  background: var(--var-darker-color);
}

#projects h1 {
  font-weight: 300;
}

#projects img {
  border-radius: 15px;
}

#projects .projects-title {
  color: var(--var-white-color);
  padding: 1rem 0 0rem 0;
  font-size: 35px;
  letter-spacing: 1rem;
  position: relative;
  height: 8.5rem;
  margin: auto;
  text-align: center;
}

#projects .main-title {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: -110px;
  left: 15px;
  right: 0;
  text-align: center;
  font-size: 3.5rem;
}

#projects .main-title span.show {
  display: inline-block;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translateY(140px);
}

#projects .highlight-container {
  margin-bottom: -.5rem;
  background: radial-gradient(circle, rgba(13,131,231,1) 0%, rgba(0,9,50,1) 37%);
}

#projects .highlight-container,
#projects .highlight-container-2 {
  color: var(--var-white-color);
  text-align: center;
  padding: 0 3rem;
}

#projects .highlight-container .highlight-title,
#projects .highlight-container-2 .highlight-2-title {
  font-size: 2.1rem
}

#projects .dating-website {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 1rem;
  color: var(--var-white-color);
}

#projects .dating-website .iframe-technologies,
#projects .dating-website .iframe-description {
  border: var(--var-light-color) solid 1px;
  border-radius: 10px;
  font-size: 1.2rem;
  line-height: 1.6;
  padding: 2rem;
  justify-self: center;
  grid-column: 1 / span 1;
  margin: auto;
  box-shadow: 0px 12px 25px var(--var-bright-blue);
  width: 70%;
  background: var(--var-darker-color);
}

#projects .dating-website .iframe-technologies h2,
#projects .highlight-2-website .highlight-2-technologies h2 {
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

#projects .dating-website .iframe-technologies h4,
#projects .highlight-2-website .highlight-2-technologies h4 {
  font-size: 1.3rem;
  border: var(--var-light-color) solid 1px;
  border-radius: 6px;
  padding: .5rem;
  margin-top: 1rem;
}

#projects .dating-website .iframe-technologies h4:hover {
  background-color: var(--var-secondary-color);
  cursor: pointer;
}

#projects .dating-website .iframe-container {
  grid-column: 2 / span 1;
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
}

#projects .dating-website .iframe-title h1 {
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

#projects .dating-website .iframe-title h1 > strong {
  font-size: 2rem;
}

#projects .dating-website .iframe-description h2 {
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

#projects .highlight-container-2 {
  /* background-image: radial-gradient(
    farthest-corner at 240px 1400px,
    var(--var-secondary-color) 0%,
    var(--var-primary-color) 100%
  ); */
  background: linear-gradient(162deg, transparent 30%, rgba(180,62,36,1)  39%, rgba(13,131,231,1) 64%, transparent 78%);
  padding-top: 4rem;
}

#projects .highlight-2-website .highlight-2-description,
#projects .highlight-2-website .highlight-2-technologies {
  grid-column: 3 / span 1;
  padding: 2rem;
  font-size: 1.2rem;
  line-height: 1.8;
  color: var(--var-white-color);
  border: var(--var-light-color) solid 1px;
  border-radius: 10px;
  /* box-shadow: 0px 12px 25px var(--var-bright-blue); */
  box-shadow: 0px 12px 25px var(--var-black-color);
  background: var(--var-darker-color);
  /* width: 27%; */
  margin: 2rem auto;
  margin-bottom: 4rem;
  margin-top: 0;
}

#projects .highlight-2-website .highlight-2-description {
  width: 38%;
}

#projects .highlight-2-website .highlight-2-technologies {
  width: 27%;
}

#projects .highlight-2-website .highlight-2-technologies h4:hover {
  background-color: var(--var-secondary-color);
  cursor: pointer;
}

#projects .highlight-2-img-container {
  display: block;
  margin: 4rem;
  border-radius: 5px;
}

#projects .highlight-2-img-container img {
  /* box-shadow: 0px 20px 30px var(--var-bright-blue); */
  box-shadow: 0px 12px 25px var(--var-black-color);
  object-fit: cover;
  border: 1px var(--var-light-color) solid;
}

.highlight-2-desc-tech-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

#projects .filter-results {
  color: var(--var-white-color);
  text-align: center;
  margin-top: 2rem;
  font-weight: 400;
}

#projects .filter {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 2rem auto; */
  padding: 1rem;
  color: var(--var-white-color);
}

#projects .filter > label {
  padding-right: 1.5rem;
  margin-left: .3rem;
}

#projects .results {
  display: block;
  text-align: center;
  padding: 1rem;
  color: var(--var-white-color);
}

#projects .project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 2.5rem;
}

.project-container div {
  color: var(--var-white-color);
  width: 480px;
  margin: auto;
}

.project-container .website > div {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  height: 300px;
  border-radius: 16px;
  margin: 2rem auto 5rem auto;
  box-shadow: 0px 15px 25px var(--var-bright-blue);
  opacity: 1;
  border: 1px var(--var-light-color) solid;
  transition: 0.3s ease-out;
}

.project-container .highlight-2-website > div {
  background-image: url(/media/youtube.png);
}

.project-container .datamuseum-website > div {
  background-image: url(/media/datamuseum.jpg);
}

.project-container .praxis-website > div {
  background-image: url(/media/praxis.jpg);
}

.project-container .singer-website > div {
  background-image: url(/media/singer.png);
}

.project-container .tile-website > div {
  background-image: url(/media/tilepros.png);
}

.project-container .graphic-website > div {
  background-image: url(/media/graphic-design.png);
}

.project-container .mnd-website > div {
  background-image: url(/media/mndbdy.jpg);
}

.project-container .photography-website > div {
  background-image: url(/media/photoweb.jpg);
}

.project-container .dice-website > div {
  background-image: url(/media/diceapp.png);
}

.project-container .weather-website > div {
  background-image: url(/media/weather.png);
}

/* .project-container .music-website > div {
  background-image: url(./media/musickeeps.jpg);
} */

.project-container .rosatis-website > div {
  background-image: url(/media/rosatis.png);
}

.project-container .presav-website > div {
  background-image: url(/media/presav.png);
}

.project-container div > div {
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.project-container div > div:hover {
  box-shadow: 0 0 0 200px #000932cc inset;
  transform: scale(1.045);
  transition: 0.2s ease-out;
}

.project-container p {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  font-size: 17px;
  padding: .5rem 2rem;
  border-radius: 15px;
  position: relative;
}

.project-container div > div:hover p {
  opacity: 1;
  transform: scale(1);
  transition: 0.4s ease-out;
}

.project-container div:not(:hover) {
  transition: transform 0.3s ease-out;
}

#projects .project-container .website {
  transform: translateX(400%);
}

#projects .project-container .website.show {
  transform: translateX(0);
}

#projects .project-container .highlight-2-website,
#projects .project-container .datamuseum-website,
#projects .project-container .praxis-website,
#projects .project-container .singer-website,
#projects .project-container .tile-website,
#projects .project-container .graphic-website,
#projects .project-container .mnd-website,
#projects .project-container .photography-website,
#projects .project-container .dice-website,
#projects .project-container .weather-website,
#projects .project-container .rosatis-website, 
#projects .project-container .presav-website {
  padding: 1rem 0;
}

.project-container .youtube-link,
.project-container .datamuseum-link,
.project-container .praxis-link,
.project-container .singer-link,
.project-container .tile-link,
.project-container .graphic-link,
.project-container .mnd-link,
.project-container .photo-link,
.project-container .dice-link,
.project-container .music-link, 
.project-container .weather-link,
.project-container .rosatis-link,
.project-container .presav-link {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
}

/* Resume */
.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--var-black-color);
  color: var(--var-white-color);
  padding: 2rem 0;
  text-align: center;
  background-image: radial-gradient( farthest-corner at 240px 1000px, var(--var-secondary-color) 0%, var(--var-primary-color) 100% );
}

.resume img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* max-width: 280px; */
  max-width: 16.5vw;
  aspect-ratio: 1/1;
  cursor: pointer;
  object-position: 50% 20%;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 1px var(--var-light-color) solid;
}

.resume img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.resume img:not(:hover) {
  transition: transform 0.3s ease;
}

.resume embed {
  width: 900px;
  height: 1160px;
  display: none;
}

.resume embed:hover {
  box-shadow: 0px 15px 40px var(--var-bright-blue);
}

#click-me {
  cursor: pointer;
}

#description {
  display: none;
  padding-top: 1.5rem;
}

.resume .fa-x:hover {
  color: var(--var-secondary-color);
  cursor: pointer;
}

/* Contact form */
.form-container {
  position: relative;
  width: 100%;
  background-color: var(--var-black-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  padding: 3rem 0;
}

form {
  background: transparent;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form h3 {
  color: var(--var-light-color);
  font-size: 3.5rem;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-align: center;
}

.cool-gradient {
  background: url(/media/gradient-1.png);
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  background-clip: border-box;
  background-size: 79% 80%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cool-gradient:hover {
  -webkit-text-fill-color: var(--var-light-color);
}

form input, form textarea {
  padding: 18px;
  margin: 10px 0;
  border: 0;
  border-bottom: 1px solid var(--var-white-color);
  outline: none;
  background-color: var(--var-black-color);
  font-size: 17px;
  color: var(--var-light-color);
}

form button {
  background-color: var(--var-darker-color);
  color: var(--var-light-color);
  box-shadow: var(--var-bright-blue) 1px 2px 10px;
  font-size: 17px;
  font-weight: bolder;
  cursor: pointer;
  padding: 15px;
  margin: 20px auto 0;
  border: 0;
  border-radius: 30px;
  outline: none;
  width: 170px;
}

form button:hover {
  background-color: var(--var-secondary-color);
  box-shadow: var(--var-bright-blue) 1px 2px 10px;
}

form button:active {
  background-color: var(--var-bright-blue);
  transform: scale(0.97);
  transition: transform 0.1s ease-in-out;
  box-shadow: none;
}

#links {
  display: flex;
  justify-content: center;
  background: var(--var-black-color);
  height: 60px;
  text-align: center;
  align-items: center;
}

#links a {
  color: var(--var-grey-color);
  padding: 2rem 1rem;
}

#links a:hover {
  color: var(--var-light-color);
  text-shadow: none;
}

#footer {
  bottom: 0;
  height: 5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: var(--var-darker-color);
  color: var(--var-light-color);
}

#footer h1 {
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 1550px) {
  #projects .project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1090px) {
  video {
    transform: rotate(90deg);
    object-fit: cover;
    width: 100vw;
    top: 0;
    left: 0;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  .title .ryan {
    font-size: 70px;
    margin-right: auto;
  }

  .hero .position {
    grid-row: 4 / span 1;
  }

  .about-content {
    grid-template-columns: repeat (1fr);
    grid-template-rows: repeat (1fr);
    display: block;
    padding: 1rem;
  }

  .about-content .about-img {
    margin: 0;
    padding: 1rem 0;
  }

  .about-content .about-img img {
    width: 100% !important;
    max-width: 750px !important;
    margin: auto;
    grid-row: 2 / span 3;
  }

  .cool-gradient-container {
    display: none;
  }

  #projects {
    overflow: hidden;
  }

  #projects .projects-title h1 {
    font-size: 60px;
    letter-spacing: .3rem;
  }

  #projects .main-title {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  #projects .highlight-container,
  #projects .highlight-container-2 {
    padding: 0;
  }

  #projects .highlight-container-2 {
    background-image: radial-gradient(
    farthest-corner at 0% 400px,
    var(--var-secondary-color) 0%,
    var(--var-primary-color) 100%
    );
    margin-top: 3rem;
    padding-top: .5rem;
  }

  #projects .highlight-container-2 h1 {
    padding: 0 1rem;
  }

  #projects .dating-website {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  #projects .dating-website .iframe-technologies {
    width: 90%;
    grid-row: 3;
    padding: 1rem;
    margin-top: 3rem;
  }

  #projects .dating-website .iframe-container {
    padding: 0;
    grid-column: 1 / span 1;
    width: 100%;
  }

  #projects .dating-website .iframe-title h1 {
    margin-top: 1rem;
  }

  #projects .dating-website .iframe-description {
    width: 90%;
    grid-row: 2;
  }

  #projects .highlight-2-website {
    width: 100%;
    padding: 0;
  }

  #projects .highlight-2-website .highlight-2-title-container {
    margin-top: 3rem;
  }

  #projects .highlight-2-website .highlight-2-desc-tech-container {
    width: 90%;
    margin: auto;
  }

  #projects .highlight-2-img-container {
    margin: 3rem 0;
    padding: 0 1.3rem;
  }

  .highlight-2-desc-tech-container {
    flex-direction: column;
  }

  #projects .highlight-2-website .highlight-2-technologies,
  #projects .highlight-2-website .highlight-2-description {
  width: 100%;
  margin-bottom: 5rem;
}

  #projects .filter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  #projects .filter > label {
    padding-right: 0;
    margin-left: -1.8rem;
  }

  #projects .project-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 .5rem .5rem;
  }

  .project-container .title {
    font-size: 26px;
  }

  .project-container p {
    display: none;
  }

  .project-container .website > div {
    max-width: 88vw;
    height: auto;
    width: 100%;
    aspect-ratio: 3 / 2;
    box-shadow: 0px 15px 25px var(--var-bright-blue);
    margin-top: 1rem;
    margin-bottom: 2rem;
    opacity: 1;
  }

  .project-container .datamuseum-website > div, 
  .project-container .amazingly-website > div {
    background-position: right;
  }

  .project-container .news-website > div,
  .project-container .photography-website > div {
    background-position: left;
  }

  .project-container .mnd-website > div {
    object-fit: fill;
    background-position: 79% 70%;
  }

  .resume img {
    max-width: 55vw;
  }

  .resume embed {
    width: 100%;
    height: 34rem;
    /* object-fit: cover; */
  }

  .resume p {
    font-size: 12px;
  }

  .cool-gradient {
    background-size: 100% 95%;  
  }

  .question {
    font-size: 2.5rem;
  }

  .form-container {
    margin: 2rem 0;
  }
}