:root {
  --white: #fff;
  --light: #e7e6e6;
  --light-grey: #abb8c7;
  --grey: #46474d;
  --dark-grey: #333;
  --slate: #151718;
  --slate-lighter: #313337;
  --primary: #0360c3 ;
  --secondary: #9553e1;
  --secondary-dark: #060122;
  --bright-blue: #258be4;
  --navy-blue: #0a1933;
  --dark-blue: #10181c;
  --black: #0C0A15;
  --dark: #272E58;
  --darker: #000932;
  --delay: 120ms;
  --delay2: 300ms;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: var(--white);
  font-family: 'Inter Display',sans-serif;
  color: #11181c;
  font-size: 1.2rem;
  line-height: 1.2;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%2396a1ae" fill-opacity="0.6" stroke="%2396a1ae" stroke-opacity="0" width="23px" height="23px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="4.52"/></svg>') 10 10, auto;
}

.page-container {
  position: relative;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" stroke="%2346444c" stroke-opacity="0" fill="%23258be4" fill-opacity="0.5" width="40px" height="40px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="4.52"/></svg>') 19 19, auto;
}

h2 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1rem;
}

/* Hero */
.nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: 100;
  background-color: hsla(0,0%,100%,.7);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  transition: background-color .2s,color .2s;
}

.nav-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #000; */
  /* background: #fff; */
  background: rgba(255, 255, 255, 0.89);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 24px 1rem 10px;
  transition: border-color .2s;
  margin-top: -.8rem;
  z-index: 102;
}

.nav-inner a {
  text-decoration: none;
  color: #000000;
  transition: scale .15s;
}

.nav-inner a:hover {
  scale: 1.07;
}

.nav-inner .cta-nav {
  display: flex;
  align-items: center;
}

.nav-logo {
  font-size: 20px;
  font-weight: 500;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-link {
  position: relative;
  padding: 8px 14px;
}

.cta-chevron {
  margin-left: 6px;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.hero:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle,rgba(231, 230, 230, 0) 20%, rgba(231, 230, 230, 0.1) 100%), url(/media/texture-10.jpg) center/cover no-repeat;
  z-index: -1;
  /* transition: filter 0.1s ease-out; */
}

@keyframes gradient-wave {
  0% {
    background-position: 200% 100%;
  }
  100% {
    background-position: -200% 100%;
  }
}

.home-hero-heading {
  background: linear-gradient(114deg,  
              var(--light) 25%,
              #36a1ff 39%, 
              #919398 42%,
              var(--light) 48%,
              var(--light) 100%);
              /* rgb(189, 219, 236) 100%); */
  background-size: 280% 100%;
  background-clip: text;
  animation: gradient-wave 9.5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 100px;
  text-align: center;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.03em;
  padding: 1rem;
}

.hero .title {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #afb3bd;
  margin-top: -2.8rem;
}

.hero .title p {
  max-width: 580px;
  margin-top: 20px;
  margin-bottom: 34px;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: .03em;
}

.hero .cta {
  color: var(--bright-blue);
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  transition: scale .15s;
}

.hero .cta:hover {
  scale: 1.05;
}

.reg-letter-spacing {
  letter-spacing: 0.1rem;
}

.home-hero-subheading {
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: .01em;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

/* New About Section */
.new-about-container {
  width: 100%;
  height: fit-content;
  margin: auto;
  margin-top: -4rem;
  margin-bottom: 4rem;
  padding: 0 20px;
  position: relative;
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  align-items: center;
  gap: 4rem;
  /* border: 5px solid var(--light); */
  border-radius: 10px;
  background: linear-gradient(0deg, rgba(231,230,230,1) 30%, rgba(255,255,255,1) 72%);
}

.about-info-container p {
  font-size: 1.2rem;
}

.about-img-container {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-self: center;
  /* margin: auto; */
  justify-self: end;
  filter: blur(35px);
  background: conic-gradient( from 180deg at 50% 50%, #b056e7 -69.37deg, #0f83ff 31.88deg, #258be4 120deg, #258be4 204.37deg, #b056e7 290.63deg, #0f83ff 391.87deg );
  grid-column: 2 / span 1;
  border-radius: 50%;
}

.new-about-container img {
  border-radius: 50%;
  width: 80%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  grid-column: 2 / span 1;
  justify-self: end;
  clip-path: inset(-1000px -1000px 0 -1000px);
  /* filter: grayscale(100%); */
  margin-left: 2rem;
}

/* .new-about-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(231,230,230,1) 0%, rgba(255,255,255,0) 40% 80%);
  z-index: 5;
  border-radius: 10px;
} */

.skills-section {
  background: linear-gradient(180deg, rgba(231, 230, 230, 1) 35%, rgba(255, 255, 255, 1) 95%);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 4rem;
}

.skills-section .skills-title {
  margin-bottom: .8rem;
  margin-top: 3rem;
  text-align: center;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 4rem;
}

.skills-container .skills {
  display: flex;
  justify-content: center;
  gap: 5px;
  /* background: #f5c936; */
  background: var(--bright-blue);
  /* background: #160071; */
  color: var(--white);
  padding: 10px 16px;
  padding-top: 12px;
  border-radius: 6px;
  transition: all 0.15s;
}

.skills-container .top-skills:hover {
  background: var(--secondary);
  scale: 1.035;
}

.other-skills-container {
  /* background: #151718; */
  /* background: radial-gradient(circle, rgba(37,139,228,1) 0%, rgba(149,83,225,1) 10%, rgba(231,230,230,1) 30%); */
  background-position: bottom;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  border-radius: 10px;
}

.other-skills-container .secondary-skills-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1rem; */
  text-align: center;
  flex-wrap: wrap;
  /* background: #151718; */
  /* color: var(--white); */
  padding: 1rem;
  border-radius: 10px;
  background: var(--white);
  display: flex;
  position: relative;
}

.other-skills-container .skills {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
  /* background: #f5c936; */
  /* background: var(--light); */
  /* border: 1px solid #efcd5e; */
  color: var(--dark);
  padding: 6px 12px;
  padding-top: 8px;
  border-radius: 6px;
}
/* End New About Section */

/* About */
/* .about-content {
  color: var(--white);
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  line-height: 1.6;
  background: linear-gradient(137deg, rgb(12, 10, 21) 30%, rgb(0, 9, 50) 75%);
  padding: 4rem 8rem 6rem 8rem;
}

.about-content .greet {
  font-size: 75px;
  grid-column: 1 / span 1;
  align-items: center;
  color: var(--bright-blue);
} */

.about-content > h2, 
.about-content > p {
  opacity: 0;
  transition: opacity 1.5s ease;
  z-index: 4;
}

.about-content > h2.show, 
.about-content > p.show {
  opacity: 1;
  z-index: 4;
}

.secondary-skills-container {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-out, transform 0.4s ease-out;
}

.secondary-skills-container.show {
  opacity: 1;
  transform: translateY(0);
}

/* .about-content > p {
  font-size: 1.15rem;
}

.about-content .pop {
  color: var(--bright-blue);
  letter-spacing: 2px;
  font-size: larger;
}

.about-content .about-img {
  width: 100%;
  height: auto;
  grid-column: 2 / span 1;
  grid-row: 1 / span 3;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content .about-img .img-container img {
  border-radius: 10px;
  width: 430px;
  height: 100%;
  position: relative;
  z-index: 3;
  grid-column: 2 / span 1;
  grid-row: 1 / span 3;
  aspect-ratio: 2.15/3;
  object-fit: cover;
}

.cool-gradient-container {
  grid-column: 2 / span 1;
  grid-row: 1 / span 3;
  background: linear-gradient(162deg, transparent 30%, rgba(13,131,231,1) 39%, rgba(180,62,36,1) 55%, transparent 78%);
  border-radius: 10px;
  width: 430px;
  height: 800px;
  margin-bottom: -7rem;
  justify-self: center;
  margin-right: -8vw;
} */

/* Projects */
#projects {
  overflow: hidden;
  background: var(--white);
}

#projects h1 {
  font-weight: 300;
}

#projects img {
  border-radius: 10px;
}

#projects .projects-title {
  color: var(--white);
  padding: 1rem 0 0rem 0;
  font-size: 5rem;
  letter-spacing: .3rem;
  position: relative;
  height: 8.5rem;
  margin: auto;
  text-align: center;
  margin-bottom: 9rem;
}

#projects .main-title {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: -90px;
  left: 15px;
  right: 0;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2;
}

#projects .main-title span.show {
  display: inline-block;
  transition-delay: 2s;
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translateY(220px);
}

#projects .highlight-container {
  /* margin-bottom: -.5rem; */
  background: radial-gradient(circle, rgba(13,131,231,1) 0%, var(--slate) 37%);
  padding: 0 0 140px;
}

#projects .highlight-container,
#projects .highlight-container-2 {
  color: var(--white);
  text-align: center;
  transition: background 0.2s ease-out;
}

#projects .highlight-container .highlight-title,
#projects .highlight-container-2 .highlight-2-title {
  font-size: 1.7rem;
}

#projects .highlight-container-2 .highlight-2-title strong {
  font-size: 2.3rem;
  font-weight: 500;
}

#projects .dating-website {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
  margin: auto;
  margin-bottom: 2rem;
  color: var(--white);
}

.width-100 {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

#projects .iframe-title {
  margin-bottom: 1rem;
  width: 100%;
}

#projects .dating-website .iframe-technologies,
#projects .dating-website .iframe-title {
  /* border: var(--light) solid 1px; */
  border-radius: 10px;
  font-size: 1.2rem;
  line-height: 1.6;
  padding: 2rem;
  justify-self: center;
  grid-column: 1 / span 1;
  margin: auto;
  width: 100%;
  background: var(--slate);
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
}

/* #projects .dating-website .iframe-technologies:hover,
#projects .dating-website .iframe-title:hover {
  box-shadow: 0px 5px 25px #000;
} */

#projects .dating-website .iframe-technologies h2,
#projects .highlight-2-website .highlight-2-technologies h2 {
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

#projects .dating-website .iframe-technologies h4,
#projects .highlight-2-website .highlight-2-technologies h4 {
  font-size: 1.2rem;
  border: var(--light) solid 1px;
  border-radius: 6px;
  padding: .5rem;
  margin-top: 1rem;
}

#projects .dating-website .iframe-technologies h4:hover {
  background-color: var(--secondary);
}

#projects .dating-website .iframe-title h2 {
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1rem;
}

#projects .dating-website .iframe-title h2 > strong {
  font-size: 2.3rem;
  font-weight: 500;
}

#projects .dating-website .iframe-description h2 {
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

.width-390 {
  width: 390px;
  height: 100%;
}

#projects .dating-website .iframe-container {
  grid-column: 2 / span 1;
  align-content: center;
  width: 100%;
  background: var(--slate);
  /* border: var(--light) solid 1px; */
  border-radius: 10px;
  padding: 2rem;
  height: 100%;
}

#projects .highlight-container-2 {
  position: relative;
  padding: 160px 0;
  transition: background 0.1s ease-out;
}

#projects .highlight-container-2 .client-highlight {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  justify-content: center;
  column-gap: 1rem;
  width: 100%;
  margin: auto;
  color: var(--white);
}

#projects .highlight-list {
  width: 100%;
  padding: 2rem;
  border-radius: 10px;
  grid-column: 1 / span 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.highlight-list,
.highlight-2-description,
.highlight-2-img-container,
.highlight-2-technologies {
  /* background: #ffffffc7; */
  background: var(--navy-blue);
  color: #fff;
}

.highlight-list h3 {
  font-size: 1.7rem;
}

.client-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  margin: 5px 0;
  align-self: flex-start;
}

#projects .highlight-container-2 .highlight-2-description {
  width: 100%;
  padding: 2rem;
  border-radius: 10px;
  /* border: 2px solid var(--slate-lighter); */
  grid-column: 2 / span 2;
}

#projects .highlight-2-website .highlight-2-description,
#projects .highlight-2-website .highlight-2-technologies {
  padding: 2rem;
  font-size: 1.2rem;
  line-height: 1.8;
  border-radius: 10px;
  /* border: 2px solid var(--slate-lighter); */
}

.highlight-2-description h2 {
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

#projects .highlight-2-website {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  justify-content: center;
  column-gap: 1rem;
  width: 100%;
  margin: auto;
  margin-top: 1rem;
  color: var(--white);
}

#projects .highlight-2-website .highlight-2-technologies h4:hover {
  background-color: var(--secondary);
}

#projects .highlight-2-img-container {
  display: block;
  border-radius: 10px;
  /* border: 2px solid var(--slate-lighter); */
  grid-column: 1 / span 2;
  height: 100% !important;
  padding: 1rem;
}

#projects .highlight-2-img-container img {
  border-radius: 5px;
  opacity: 0.7;
  transition: opacity 350ms;
}

#projects .highlight-2-img-container:hover img {
  opacity: 1;
}

#projects .highlight-2-title-container {
  grid-column: 3 / span 1;
}

.hide {
  display: none;
}

/* #projects .filter-results {
  color: var(--white);
  text-align: center;
  margin-top: 2rem;
  font-weight: 400;
}

#projects .filter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: var(--white);
}

#projects .filter > label {
  padding-right: 1rem;
  margin-left: .3rem;
}

#projects .results {
  display: block;
  text-align: center;
  padding: 1rem;
  color: var(--white);
} */

#projects .filter-results,
#projects .filter,
#projects .filter > label,
#projects .results {
  display: none;
}


#projects .project-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: center;
  padding: 130px 0;
}

#projects .project-container .project-container-title {
  grid-column: 1 / span 2;
  margin-bottom: 5rem;
}

.project-container div {
  /* color: var(--white); */
  color: #000;
  width: 490px;
  margin: auto;
}

.project-container .website {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(70px);
  transition: opacity 1.5s ease-out, transform 2s ease-out;
  transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
}

.website.visible {
  opacity: 1;
  transform: translateY(0);
}

.project-container .website > h3 {
  color: var(--slate-lighter);
  font-size: 1.7rem;
  display: none;
}

.project-container .website > div {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  height: auto;
  aspect-ratio: 3.5/2;
  border-radius: 10px;
  /* box-shadow: 0px 0px 25px #abb8c7a5; */
  opacity: 1;
  border: 1px var(--light) solid;
  transition: 0.3s ease-out;
  position: relative;
}

.project-container .highlight-2-website > div {
  background-image: url(/media/maryna.jpg);
}
.project-container .audio-website > div {
  background-image: url(/media/music-portfolio.jpg);
}
.project-container .recipe-website > div {
  background-image: url(/media/recipe-generator.jpg);
}
.project-container .bespoke-website > div {
  background-image: url(/media/bespoke.jpg);
}
.project-container .datamuseum-website > div {
  background-image: url(/media/datamuseum.jpg);
}
.project-container .singer-website > div {
  background-image: url(/media/singer.jpg);
}
.project-container .graphic-website > div {
  background-image: url(/media/graphic-design.jpg);
}
.project-container .upbeat-website > div {
  background-image: url(/media/upbeat.jpg);
}
.project-container .praxis-website > div {
  background-image: url(/media/praxis.jpg);
}
.project-container .tile-website > div {
  background-image: url(/media/tilepros.jpg);
}
/* .project-container .mnd-website > div {
  background-image: url(/media/mndbdy.jpg);
} */
.project-container .kat-website > div {
  background-image: url(/media/kat.jpg);
}
.project-container .core-website > div {
  background-image: url(/media/core-reach-social.jpg);
}
.project-container .youtube-website > div {
  background-image: url(/media/youtube.jpg);
}
.project-container .weather-website > div {
  background-image: url(/media/weather.jpg);
}
/* .project-container .music-website > div {
  background-image: url(./media/musickeeps.jpg);
  } */
.project-container .rosatis-website > div {
  background-image: url(/media/rosatis.jpg);
}
.project-container .presav-website > div {
  background-image: url(/media/presav.jpg);
}
.project-container .number-website > div {
  background-image: url(/media/numberguess.jpg);
}

.project-container div > div {
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.project-container div > div:hover {
  box-shadow: 0 0 0 400px rgba(37, 139, 228, 0.93) inset;
  transform: scale(1.032);
  transition: 0.2s ease-out;
}

.project-container p {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  font-size: 1.2rem;
  padding: .5rem 2rem;
  border-radius: 10px;
  position: relative;
  color: #000;
}

.project-container div > div:hover p {
  opacity: 1;
  transform: scale(1);
  transition: 0.35s ease;
}

.project-container div:not(:hover) {
  transition: transform 0.2s ease-out;
}

/* #projects .project-container .website {
  transform: translateX(400%);
}

#projects .project-container .website.show {
  transform: translateX(0);
} */

.project-container .maryna-link,
.project-container .audio-link,
.project-container .recipe-link,
.project-container .bespoke-link,
.project-container .singer-link,
.project-container .datamuseum-link,
.project-container .graphic-link,
.project-container .upbeat-link,
.project-container .praxis-link,
.project-container .tile-link,
.project-container .kat-link,
.project-container .youtube-link,
.project-container .music-link, 
.project-container .weather-link,
.project-container .rosatis-link,
.project-container .presav-link, 
.project-container .core-link, 
.project-container .number-link {
  position:absolute; 
  width:100%;
  height: 100%;
  top:0;
  left: 0;
}

#show-more-btn {
  background: transparent;
  color: #1981dd;
  grid-column: 1 / span 2;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  width: fit-content;
  margin: auto;
  padding: 1rem;
  margin-top: 2rem;
  transition: scale 0.15s;
}

#show-more-btn:hover {
  color: var(--primary);
  scale: 1.05;
}

#show-more-btn i {
  margin-left: .25rem;
}

/* Resume */
.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--black);
  color: var(--white);
  padding: 4rem 0;
  text-align: center;
  background-image: radial-gradient( farthest-corner at 240px 1000px, var(--secondary) 40%, var(--bright-blue) 68%, var(--primary) 100% );
}

.resume #ryan-circle {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* max-width: 280px; */
  max-width: 16.5vw;
  aspect-ratio: 1/1;
  cursor: pointer;
  object-position: 50% 20%;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 1px var(--light) solid;
}

.resume #resume {
  /* width: 100%; */
  /* height: 1240px; */
  /* object-fit: cover; */
  /* max-width: 55vw; */
  /* cursor: pointer; */
  margin-bottom: 1rem;
  display: none;
  transition: all 0.3s ease;
}

.resume #ryan-circle:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.resume #ryan-circle:not(:hover) {
  transition: transform 0.3s ease;
}

.resume embed {
  width: 900px;
  height: 1175px;
  display: none;
}

.resume #resume:hover {
  box-shadow: 0px 15px 40px var(--secondary-dark);
}

#click-me {
  cursor: pointer;
}

#description {
  display: none;
  padding-top: 1.5rem;
}

.resume .fa-x:hover {
  color: var(--secondary-dark);
  cursor: pointer;
}

/* Contact form */
.form-container {
  position: relative;
  width: 100%;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 130px 0;
}

form {
  background: transparent;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form h3 {
  color: var(--light);
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-align: center;
}

.cool-gradient {
  background: linear-gradient(114deg, 
            rgba(149,83,225,1) 25%, 
            rgba(3,96,195,1) 36%, 
            rgba(37,139,228,1) 45%, 
            rgba(149,83,225,1) 55% 100%);
  /* background-position-x: 0%; */
  /* background-position-y: 0%; */
  background-size: 280% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-wave 9.3s linear infinite;
  background-clip: text;
  /* background-size: 79% 80%; */
  padding: 1rem;
  font-weight: 800;
}

.cool-gradient:hover {
  -webkit-text-fill-color: var(--light);
}

form input, form textarea {
  padding: 18px;
  margin: 10px 0;
  border: 0;
  border-bottom: 1px solid var(--white);
  outline: none;
  background-color: var(--black);
  font-size: 17px;
  color: var(--light);
}

form button {
  background-color: var(--darker);
  color: var(--light);
  box-shadow: var(--bright-blue) 1px 2px 10px;
  font-size: 1.2rem;
  font-weight: bolder;
  cursor: pointer;
  padding: 15px;
  margin: 20px auto 0;
  border: 0;
  border-radius: 30px;
  outline: none;
  width: 170px;
}

form button:hover {
  background-color: var(--secondary);
  box-shadow: var(--bright-blue) 1px 2px 10px;
}

form button:active {
  background-color: var(--bright-blue);
  transform: scale(0.97);
  transition: transform 0.1s ease-in-out;
  box-shadow: none;
}

#links {
  display: flex;
  justify-content: center;
  background: var(--black);
  text-align: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

#links a {
  color: var(--light-grey);
  padding: 0 1rem;
}

#links a:hover {
  color: var(--light);
  text-shadow: none;
}

/* #footer {
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: var(--darker);
  color: var(--light);
}

#footer h1 {
  font-size: 30rem;
  font-weight: 500;
} */

@media (max-width: 1200px) {
  .container {
    max-width: calc(100% - 2rem);
  }

  video {
    transform: rotate(90deg);
    object-fit: cover;
    width: 100vw;
    top: 0;
    left: 0;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  .title .ryan {
    font-size: 70px;
    margin-right: auto;
  }

  .hero .position {
    grid-row: 4 / span 1;
  }

  .about-content {
    grid-template-columns: repeat (1fr);
    grid-template-rows: repeat (1fr);
    display: block;
    padding: 0;
  }

  .about-content .about-img {
    margin: 0;
    padding: 1rem 0;
  }

  .about-content .about-img img {
    width: 100% !important;
    max-width: 390px !important;
    margin: auto;
    grid-row: 2 / span 3;
  }

  .cool-gradient-container {
    display: none;
  }

  /* #projects {
    overflow: hidden;
  }

  #projects .projects-title h2 {
    font-size: 60px;
    letter-spacing: .3rem;
  }

  #projects .main-title {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  #projects .highlight-container,
  #projects .highlight-container-2 {
    padding: 0;
  }

  #projects .highlight-container-2 {
    background-image: radial-gradient(
    farthest-corner at 0% 400px,
    var(--secondary) 0%,
    var(--primary) 100%
    );
    margin-top: 3rem;
    padding-top: .5rem;
  }

  #projects .highlight-container-2 h2 {
    padding: 0 1rem;
  }

  #projects .dating-website {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  #projects .dating-website .iframe-technologies {
    width: calc(100% - 2rem);
    grid-row: 3;
    padding: 1rem;
    margin-top: 3rem;
  }

  #projects .dating-website .iframe-container {
    padding: 0;
    grid-column: 1 / span 1;
    width: 100%;
  }

  #projects .dating-website .iframe-title h2 {
    margin-top: 1rem;
  }

  #projects .dating-website .iframe-description {
    width: calc(100% - 2rem);
    grid-row: 2;
  }

  #projects .highlight-2-website {
    width: 100%;
    padding: 0;
  }

  #projects .highlight-2-img-container {
    margin: 3rem 0;
    padding: 0 1rem;
  }
  
  #projects .highlight-2-title-container {
    grid-column: 3 / span 1;
  }

  #projects .highlight-2-website .highlight-2-technologies,
  #projects .highlight-2-website .highlight-2-description {
  width: 100%;
  margin-bottom: 5rem;
}

  #projects .filter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  #projects .filter > input {
    margin-right: -3rem;
  }

  #projects .filter > label {
    padding-right: 0;
    margin-left: -3rem;
  }

  #projects .project-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 0 .5rem;
  }

  #projects .project-container .website {
    width: calc(100% - 2rem);
    padding: 0;
  }

  .project-container .title {
    font-size: 26px;
  }

  .project-container .website > div {
    height: auto;
    width: 100%;
    aspect-ratio: 3 / 2;
    box-shadow: 0px 15px 25px var(--bright-blue);
    opacity: 1;
  }

  .project-container div > div:hover {
    transform: scale(1.013);
  }

  .project-container .datamuseum-website > div, 
  .project-container .amazingly-website > div {
    background-position: right;
  }

  .project-container .news-website > div,
  .project-container .photography-website > div {
    background-position: left;
  }

  .project-container .mnd-website > div {
    object-fit: fill;
    background-position: 79% 70%;
  } */

  .resume #ryan-circle {
    max-width: 390px;
  }

  .resume #resume {
    /* width: 100%; */
    /* height: auto; */
    /* object-fit: cover; */
    max-width: calc(100% - 2rem);
    /* cursor: pointer; */
    margin-bottom: 0;
    display: none;
    /* border: 1px var(--light) solid; */
  }

  .resume embed {
    width: 100%;
    height: 32rem;
  }

  .resume p {
    font-size: 1.2rem;
  }

  .question {
    font-size: 2.5rem;
  }

  .form-container {
    margin: 0;
  }
}

@media (max-width: 952px) {
  #projects .dating-website {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
  }

  #projects .dating-website .iframe-technologies, 
  #projects .dating-website .iframe-title, 
  #projects .dating-website .iframe-container {
    background: #151718c7;
  }

  #projects .highlight-list,
  #projects .highlight-container-2 .highlight-2-description,
  #projects .highlight-2-img-container,
  #projects .highlight-container-2 .highlight-2-technologies {
    background: #0a1933;
  }

  #projects .highlight-container {
    padding: 0 0 40px;
  }

  #projects .highlight-container-2 {
    padding: 105px 0;
  }

  #projects .project-container {
    padding: 90px 0;
  }

  #projects .highlight-2-website {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
  }

  #projects .highlight-2-technologies > * {
    max-width: 390px;
    margin: auto;
  }

  #projects .project-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 812px) {
  .container {
    max-width: calc(100% - 2rem);
  }

  .title h1 {
    font-size: 73px;
  }

  .new-about-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    margin-top: -4rem;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .new-about-container img {
    margin-left: 0;
    max-width: 390px;
  }

  .about-info-container h2 {
    font-size: 3rem;
  }

  .other-skills-container {
    grid-template-columns: 1fr;
  }

  .about-img-container {
    width: 70%;
    height: 60%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -308px;
    margin: auto;
    display: none;
  }

  #projects .website {
    width: calc(100% - 2rem);
    height: auto;
    padding: 0;
  }

  .project-container .website > div {
    height: auto;
    width: 100%;
    aspect-ratio: 3.5/2;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 1.2rem;
  }

  .nav-inner {
    flex-direction: column;
    gap: .5rem;
    font-size: 1.2rem;
  }

  .nav-menu {
    gap: 50vw;
  }

  .nav-logo {
    font-size: 1.5rem;
  }

  .nav-link {
    padding: 8px 0;
  }

  .projects-link, .about-link {
    display: none;
  }

  .home-hero-heading {
    font-size: 3rem;
  }

  .title h1 {
    font-size: 60px;
  }

  .new-about-container {
    margin-top: 0;
  }

  .about-info-container {
    text-align: center;
  }

  .about-info-container h2 {
    font-size: 2.5rem;
  }

  .skills-section {
    background: linear-gradient(180deg, rgb(231, 230, 230) 70%, rgb(255, 255, 255) 100%);
  }

  #projects .main-title {
    font-size: 52px;
    top: -145px;
  }

  #projects .main-title span.show {
    display: inline-block;
    transition-delay: 2s;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translateY(200px);
  }

  #projects .highlight-container {
    padding: 0 0 5px;
  }

  #projects .dating-website .iframe-container {
    padding: 1rem 0;
  }

  #projects .dating-website iframe {
    width: 330px;
    height: 740px;
    margin-top: 1rem;
  }

  #projects .highlight-container-2 {
    padding: 60px 0;
  }

  #projects .highlight-container-2 .client-highlight {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
  }

  #projects .highlight-list > * {
    text-align: center;
  }

  #projects .client-icons {
    align-self: center;
  }

  #projects .project-container {
    padding: 60px 0;
  }

  #projects .projects-title {
    height: 3.5rem;
    margin-bottom: 5rem;
  }

  #projects .project-container .project-container-title {
    font-size: 52px;
  }

  #projects .website {
    width: calc(100% - 1rem);
    height: auto;
    padding: 0;
  }

  .resume #ryan-circle {
    max-width: calc(100% - 4rem);
  }

  .form-container {
    padding: 60px 0;
  }
}